################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CSMedium_4.1/v15
/CSMedium_4.1/.vs/CSMedium_4.1/v15/Server/sqlite3
